# Udemy - Reading and writing text files
## Version 3.5.1
## Created: 2016-05-08
## Updated: 2016-05-08
*****

In [11]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import sys
import os

# Set working directory
os.chdir("/Users/bradcannell/Dropbox/Python/UDemy")
os.getcwd()

'/Users/bradcannell/Dropbox/Python/UDemy'

***

# Reading in .csv file using read_csv

In [3]:
dframe = pd.read_csv("data/lec25.csv")
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  6     dog

By default:
    * Used comma as delimiter
    * Used first row for column names

In [7]:
dframe = pd.read_csv("data/lec25.csv", header = None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  6     dog

**Reading in .csv file using read_table (more generic)**

In [8]:
dframe = pd.read_table("data/lec25.csv", sep = ",", header = None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  6     dog

**Reading in .csv file - subset of rows**

In [9]:
pd.read_csv("data/lec25.csv", header = None, nrows = 2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

***

# Exporting .csv file

In [12]:
# Where dframe is the name of the data frame
dframe.to_csv("data/lec25_export.csv")

# Use sys to view output without an actual file being created
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,6,dog

**Exporting using delimiters other than comma**

In [20]:
dframe.to_csv(sys.stdout, sep = "_")

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_6_dog

In [18]:
dframe.to_csv(sys.stdout, sep = "?")

?0?1?2?3?4
0?q?r?s?t?apple
1?2?3?4?5?pear
2?a?s?d?f?rabbit
3?5?2?5?6?dog

In [19]:
dframe.to_csv(sys.stdout, sep = "\t")

	0	1	2	3	4
0	q	r	s	t	apple
1	2	3	4	5	pear
2	a	s	d	f	rabbit
3	5	2	5	6	dog

**Export subset of columns**

In [21]:
dframe.to_csv(sys.stdout, columns = [0, 1, 2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5